body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #c82333;
}

.entry {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f0f0f0;
  /* light gray */
}

#addBtn {
  background-color: #28a745;
}

#addBtn:hover {
  background-color: #218838;
}

.hours-container {
  display: flex;
  justify-content: space-between;
}

.hours-container > label {
  flex: 1;
  margin-right: 10px;
}

.hours-container > label:last-child {
  margin-right: 0;
}

textarea {
  font-family: "Georgia", "Times New Roman", serif;
  height: 200px;
  /* default height */
  width: 100%;
  max-height: 100%;
  /* limit height */
  max-width: 100%;
  min-width: 100%;
  font-size: large;
}

.hours-container > label > span {
  display: block;
  margin-bottom: 5px;
  /* adjust as needed */
}

.this_month {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .this_month {
    grid-template-columns: 100px 1fr;
  }
  .this_month > label {
    text-align: left;
  }
  .this_month_student {
    gap: 30px !important;
  }
.this_month_student label {
  width: 100%;
}
.this_month_student > div {
  flex-direction: column;
  gap: 0px !important;
  width: 100%;
}

}

#this_month_area {
  height: 100px;
}

.this_month > label {
  text-align: right;
}

.this_month_student {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
}

.this_month_student > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.this_month_student > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  max-width: 100%;
}

.this_month_student label {
  width: 250px;
  margin-top: 8px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  /* Increase the size by 50% */
}

input[type="submit"] {
  font-size: large;
}

label.required::after {
  content: " *";
  color: red;
}

#days {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-gap: 1rem;
}

.day_label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

@keyframes flash {
  0% {
    border-color: #ddd;
  }
  25% {
    border-color: red;
  }
  50% {
    border-color: #ddd;
  }
  75% {
    border-color: red;
  }
  100% {
    border-color: #ddd;
  }
}

.flash-border {
  animation: flash 5s ease-in-out;
}
